@use "./../../styles/basic.scss";

.header-customer {
  display: flex;
  margin: 0.0625rem 0.0625rem 0 0.0625rem;
  height: 4.5rem;
  background-color: basic.$color-background-main;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.logo {
  margin-right: auto;
  // display: none;
}

.profile-img,
.message {
  width: 2.5rem;
  height: 2.5rem;
}

.hamburger {
  display: none;
}

@media (max-width: 37.5rem) {
  .hamburger {
    display: flex;
  }
}

@media (max-width: 37.5rem) {
  .header-customer {
    gap: 0;
  }
  a {
    margin-right: auto;
    display: flex;
  }
}
