@use "./../../styles/basic.scss";

.privacy-policy,
.imprint {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 95%;
  min-height: calc(100vh - 177px);
  border-radius: basic.$border-radius;
  background-color: basic.$color-surface-container;
  margin-inline: 1rem;
}

.privacy-policy .arrow-back,
.imprint .arrow-back {
  margin-top: 1rem;
}

.privacy-policy-title,
.imprint-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.privacy-policy-description p,
.imprint-description p {
  margin-bottom: 1rem;
}

.privacy-policy-description h2,
.imprint-description h2 {
  font-size: 1.3rem;
}

.privacy-policy-description h3,
.imprint-description h3 {
  font-size: 1.1rem;
}

.privacy-policy-description p:nth-child(1),
.imprint-description p:nth-child(2) {
  font-weight: 700;
}

.privacy-policy-description p a[target="_blank"] {
  word-break: break-all;
}