@use './resets.scss';

// ========================================
// Color Variables
// ========================================

* {
    // border: 1px solid black;
}

// Brand & Primary Colors
$qw-primary: #3f2bdc;
$qw-secondary: #5850ec;

// Surface Colors
$qw-third: #e5e9fd;

$qw-fourth: #ffffff;
$qw-fifth: #eff4ff;
$color-hover: #bed2ff;

// Text & Neutral Colors
$color-heading: #111827;
$color-body-text: #4b5563;
$color-border: #e5e7eb;
$border-radius: 0.625rem;
$box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
$letter-color: #000;
$first-transition: all 200ms ease-in-out;
$required: #ff0000;
$focus: 2px dotted $qw-primary;