@use "./resets";
@use "./basic";

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 26px;
  margin-top: 1rem;

  .delete-button {
    margin-right: auto;
  }

  .cancel-btn {
    background: transparent;
    color: basic.$color-primary-indigo;
    margin: 0;
  }

  .save-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 7px;
    background: #3421d6;
    color: #fff;
    margin: 0;
    padding: 17px 32px;
    box-shadow: 0 8px 18px rgba(52, 33, 214, 0.22);
  }
}

.main-quiz-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 10.375rem;
  width: 100%;
  font-weight: 700;
  font-size: 1.125rem;
  gap: 0.625rem;
  padding: 0.75rem 1.5625rem;
  margin: auto;
  border-radius: 0.625rem;
  color: #f4f4f4;
  background-color: basic.$color-primary-indigo;
  border: solid 1px basic.$color-primary-indigo;
  transition: basic.$first-transition;
  outline: none;
  cursor: pointer;
  &:hover,
  &:focus-visible {
    border: solid 1px basic.$color-primary-indigo;
    background-color: basic.$color-background-main;
    color: basic.$color-primary-indigo;
  }
}

.main-quiz-button-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.25s;
  height: 50px;
  background: transparent;
  color: basic.$color-primary-indigo;
  border-radius: basic.$border-radius;
  border: 1px solid #dfe3ef;
  outline: none;
  &:hover,
  &:focus-visible {
    background: rgba(basic.$color-primary-indigo, 0.06);
    border: 1px solid basic.$color-primary-indigo;
  }
}

.warn-txt {
  color: basic.$required;
}

.quiz-button:disabled,
.btn-pagination:disabled,
button[type="submit"]:disabled {
  border: 1px solid #cccccc !important;
  background-color: #ccc !important;
  color: #666 !important;
  cursor: initial !important;
}

.hide-container {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -100;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
}

.show-container {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  pointer-events: auto;
  // overflow-y: scroll;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 0.0625rem 0.0625rem 0.0625rem;
  min-height: calc(100vh - 177px);
  color: basic.$color-heading;
  background-color: basic.$color-surface-container;
}

.main-customer {
  padding-inline: 0;
  gap: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 244px);
  background-color: basic.$color-background-main;
  overflow-x: hidden;
}

.play-quiz {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(52, 33, 214, 0.4);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.avatar {
        border-radius: 50%;
        object-fit: cover;
      }

@media (max-width: 48rem) {
  .action-buttons {
    justify-content: space-between;
    .save-btn {
      padding: 0;
      width: fit-content;
      padding-inline: 1rem;
    }
    .cancel-btn {
      min-width: fit-content;
      padding: 0;
      padding-inline: 1rem;
      height: fit-content;
    }
  }
}
