@use "./../../styles/basic.scss";

.arrow-back {
  display: flex;
  justify-self: baseline;
  align-self: flex-start;
  background: none;
  border: 0.0625rem solid transparent;
  border-radius: basic.$border-radius;
  background: basic.$color-background-main;
  margin-bottom: 1rem;
  transition: basic.$first-transition;

  svg path {
    fill: basic.$qw-primary;
  }

  &:hover,
  &:focus {
    background: basic.$qw-primary;
    outline: none;
  }

  &:hover svg path,
  &:focus svg path {
    fill: #f7f8ff;
  }
}
